.image-uploader {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.item-description {
    text-align: justify;
}

.save-update-btn, .update-btn, .delete-btn, .save-employee-add-btn {
    margin-right: 15px;
    margin-left: 15px;
}

#item tbody tr, #all-employee-table {
    cursor: pointer;
}

.btn-primary {
    background-color: #5D001E
}

#item, #employee {
    margin-top: 20px;
}

.search-and-add {
    display: flex;
    justify-content: space-between
}

.search-and-add i {
    cursor: pointer;
    font-size: 30px;
}

.modal-body nav {
    margin-bottom: 20px;
}

.nav-item {
    color: inherit;
    /* background-color: rgba(180, 0, 57, 0.719); */
    border-radius: 0px;
}

.nav-item:hover {
    background-color: rgb(138, 0, 44);
    color: white;
}

.page-link {
    color: #5D001E;
}

.page-link:hover {
    background-color: rgb(224, 224, 224);
    color: #5D001E;
}

#bulk-item-entries a, #bulk-employee-entries a {
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}

#admin-dashboard {
    padding: 30px 20px;
}

#admin-dashboard .dropdown-menu .row {
    max-height: 50px;
    margin: 0;
}

#admin-dashboard .dropdown-menu img {
    max-height: 100%;
    min-width: 48.75px;
}

#admin-dashboard .dropdown-menu div {
    padding: 0;
}

#admin-dashboard .dropdown-menu .col-10 {
    padding-left: 10px;
}

#admin-dashboard .dropdown-menu .col-2 {
    min-width: 48.75px;
}

#admin-dashboard .dropdown-menu {
    min-width: 350px;
}

#admin-dashboard .dropdown-menu p {
    margin: 0;
    font-size: 0.7rem;
    overflow: hidden;
}

/* #employee-detail {
    padding-left:15px;
} */

#employee-detail img {
    min-width: 100%;
    height: auto;
}

#employee-detail .row {
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}

.search-bar {
    /* margin: 0 0 20px auto; */
    padding: 0;
    margin-bottom: 15px;
}

.search-bar .input-group-prepend > .input-group-text {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: #5D001E;
    color: white;
}


