.image-uploader {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.item-description {
    text-align: justify;
}

.save-update-btn, .update-btn {
    margin-right: 15px;
}

#item tr {
    cursor: pointer;
}

.btn-primary {
    background-color: #5D001E
}

#item, #employee {
    margin-top: 20px;
}

.admin-table-header {
    display: flex;
    justify-content: space-between
}

.admin-table-header i {
    cursor: pointer;
    font-size: 30px;
}

