.font-red {
    color: #5D001E;
}

.navbar > .container-fluid .navbar-brand {
    color: pink;
    padding-right: 2.2em;
    padding-left: 2.2em;
}

.navbar-dark .navbar-brand , .navbar-dark .navbar-nav .nav-link, .font_white {
    color: rgba(255,255,255,1);

}

/* .navbar-dark #navbar-list .nav-item .nav-link .active {
    color: #5D001E;
    background-color: #f5f5f5;
} */

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active {
    color: #5D001E;
    background-color: #f5f5f5;
}

.nav-link:focus, .nav-link:hover {
    color: #5D001E;
    background-color: #f5f5f5;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 93vh;}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 1em;
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 1em;
    }
    .row.content {height:auto;}
}

.table-margin {
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    align-content: center;

}

.card-container {
    /* justify-content: center;
    align-items: center; */
    max-width: 100%;
    margin: 0;
}


.circle {
    /* max-width: 50%;
    min-width: 50%; */
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: solid 0.2em #5D001E;
}

@media (max-width: 768px) {
    .card {
        margin-top: 1.4rem;
    }
}

.card {
    color: #5D001E;
    padding: 0.5em;
}

.card > h4 {
    font-weight: bold;
}

.page-number {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.item-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;
}

.item-title-container i {
    cursor: pointer;
    font-size: 30px;
    color: #5D001E;
}

.filter-container {
    justify-content: center;
    flex-wrap: wrap;
}

.filter {
    cursor: pointer;
}

#home .dropdown-menu .row {
    max-height: 50px;
    margin: 0;
}

#home .dropdown-menu img {
    height: 100%;
    min-width: 48.75px;
    max-width: 48.75px;
}

#home .dropdown-menu div {
    padding: 0;
}

#home .dropdown-menu .col-10 {
    padding-left: 10px;
}

#home .dropdown-menu .col-2 {
    min-width: 48.75px;
}

#home .dropdown-menu {
    min-width: 350px;
}

#home .dropdown-menu p {
    margin: 0;
    font-size: 0.7rem;
    overflow: hidden;
}

#home .remove-item-transaction {
    cursor: pointer;
}
