<section>
    <h3 class="text-center font-weight-bold">Items</h3>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total Quantity</th>
                <th class="text-center">Available quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>Indomie Goreng</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">20</td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">3</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">4</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">5</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
        </tbody>
    </table>
</section>
<script src="/public/js/admin_dashboard.js"></script>