<section>
    <h3 class="text-center font-weight-bold">Items</h3>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total Quantity</th>
                <th class="text-center">Available quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>Indomie Goreng</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">20</td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">3</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">4</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
            <tr>
                <td scope="row">5</td>
                <td>Indomie Ayam Bawang</td>
                <td>Rp2000</td>
                <td class="text-center">100</td>
                <td class="text-center">50</td>
            </tr>
        </tbody>
    </table>
    <p>Test123</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
      Launch
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    <h4 class="modal-title" id="modelTitleId">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        Add rows here
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/public/js/admin_dashboard.js"></script>