<section id ="handover-page">
    <h2> Hand-over Request List</h2>
    <table class="table table-bordered table-responsive-sm table-hover">
        <thead>
            <tr class="text-light">
                <th class="text-center dark_red">ID Request</th>
                <th class="text-center dark_red">Item Name</th>
                <th class="text-center dark_red">Employee Name</th>
                <th class="text-center dark_red">Qty</th>
            </tr>
        </thead>
        <tbody id="content-items">
        </tbody>
    </table>
</section>

