<section id ="handover-page">
    <h2> Hand-over Request List</h2>
    <table class="table table-bordered table-responsive-sm table-hover">
        <thead>
            <tr class="text-light">
                <th class="text-center dark_red">ID Request</th>
                <th class="text-center dark_red">Item Name</th>
                <th class="text-center dark_red">Employee Name</th>
                <th class="text-center dark_red">Qty</th>
                <th class="text-center dark_red">Check For SENT !</th>
            </tr>
        </thead>
        <tbody id="content-items">
        </tbody>
    </table>
    <div class="d-flex">
    <div class="flex-grow-1">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" id="page-handover-prev">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item page-next" id="page-handover-next">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <div class="flex-grow-1 d-flex justify-content-end">
        <button  type="button" class="h-75 btn btn-success" id="send-button" disabled>SENT</button>
    </div>
    </div>
</section>

