<section>
    <div class="row mx-auto card-container">
        <img src="public/images/profile.png" class="circle mx-auto" alt="">
        <div class="mx-auto card">
            <h2>Shinta Ayu Chandra Kemala</h2>
            <h3>NIP         : 13516029</h3>
            <h3>Division    : Engineering</h3>
            <h3>Role        : Software Engineer</h3>
            <h3>Superior    : Inggriani Liem (NIP : 13515111)</h3>
        </div>
    </div>
    <div>
        <h3 class="font-weight-bold font-red">Items</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-light">
                    <th class="text-center dark_red">No</th>
                    <th class="text-center dark_red">Item Name</th>
                    <th class="text-center dark_red">Qty</th>
                    <th class="text-center dark_red">Status</th>
                    <th class="text-center dark_red">+</th>
                </tr>
          </thead>
          <tbody>
              <tr>
                  <td scope="row" class="text-center">1</th>
                  <td>iPhone X Mahal banget ga kuat aqutu belinya hiks so sad huaa</td>
                  <td class="text-center">1</td>
                  <td class="text-center">Requested</td>
              </tr>
          </tbody>
</table>


    </div>


</section>
