<section id="home">
    <div class="row mx-auto card-container">
        <img src="public/images/profile.png" class="circle mx-auto" alt="">
        <div class="mx-auto card">
                <h2 id="name"></h2>
                <h3 id="nip"></h3>
                <h3 id="division">Division    : Engineering</h3>
                <h3 id="role">Role        : Software Engineer</h3>
                <h3 id-"superior">Superior    : Inggriani Liem (NIP : 13515111)</h3>
                <!-- <h2 id="name">Shinta Ayu Chandra Kemala</h2>
            <h3 id="nip">NIP         : 13516029</h3>
            <h3 id="division">Division    : Engineering</h3>
            <h3 id="role">Role        : Software Engineer</h3>
            <h3 id-"superior">Superior    : Inggriani Liem (NIP : 13515111)</h3> -->
        </div>
    </div>
    <div>
        <h3 class="font-weight-bold font-red">Items</h3>
        <label for="filter" class="mx-auto">Show:</label>
        <select class="filter mx-auto" data-tableId="items">
          <option value="all">All</option>
          <option value="requested">Requested</option>
          <option value="approved">Approved</option>
          <option value="rejected">Rejected</option>
          <option value="sent">Sent</option>
          <option value="returned">Returned</option>
        </select>
        <table id="items" class="table table-hover table-bordered">
            <thead>
                <tr class="text-light">
                    <th class="text-center dark_red">No</th>
                    <th class="text-center dark_red">Item Name</th>
                    <th class="text-center dark_red">Qty</th>
                    <th class="text-center dark_red">Status</th>
                    <th class="text-center dark_red">+</th>
                </tr>
          </thead>
          <tbody>
              <!-- <tr>
                  <td scope="row" class="text-center">1</td>
                  <td>iPhone X Mahal banget ga kuat aqutu belinya hiks so sad huaa</td>
                  <td class="text-center">1</td>
                  <td class="text-center">Requested</td>
                  <td class="text-center">
                      <button class="btn btn-primary btn-sm">
                          Detail
                      </button>
                  </td>
              </tr> -->
          </tbody>
      </table>
      <div class="d-flex justify-content-end align-items-baseline">
        <button class="btn btn-primary btn-sm mx-2">
            prev
        </button>
        <div class="page-number">  3  </div>
        <button class="btn btn-primary btn-sm mx-2">
            next
        </button>
      </div>


    </div>


</section>
