    .dark_red {
        background-color: #5D001E;
    }

    .navbar > .container-fluid .navbar-brand {
        color: pink;
        padding-right: 2.2em;
        padding-left: 2.2em;
    }

    .navbar-inverse .navbar-nav > li > a.font_white {
        color: #F5F5F5;
    }

    .navbar-inverse .navbar-nav > .active > a {
        color: #5D001E;
        background-color: #F5F5F5;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #EE4C7C;
    }

    .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: #EE4C7C;
    }

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 93vh;}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 1em;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 1em;
      }
      .row.content {height:auto;}
    }

    .row {
      margin-top: 50px;
    }
