<div id="procurement">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-procurements-tab" data-toggle="tab" href="#nav-procurements" role="tab" aria-controls="nav-procurements" aria-selected="true">Procurements</a>
            <a class="nav-item nav-link" id="nav-create-procurement-tab" data-toggle="tab" href="#nav-create-procurement" role="tab" aria-controls="nav-create-procurement" aria-selected="false">Create Procurement</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-procurements" role="tabpanel" aria-labelledby="nav-procurements-tab">
            <table class="table table-hover table-bordered ">
                <thead>
                    <tr class="text-light">
                        <th class="text-center dark_red">ID Transaction</th>
                        <th class="text-center dark_red">ID Admin</th>
                        <th class="text-center dark_red">Supplier</th>
                        <th class="text-center dark_red">Date</th>
                        <th class="text-center dark_red">Value</th>
                    </tr>
                </thead>
                <tbody>
        
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-create-procurement" role="tabpanel" aria-labelledby="nav-create-procurement-tab">...</div>
    </div>
</div>